@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(240, 240, 240);
  --primary-hover: rgb(230, 230, 230);
  --secondary-color: rgb(250, 250, 250);
  --primary-dark: rgb(220, 220, 220);

  --light-accent-color: rgb(199, 219, 199);
  --dark-accent-color: rgb(132, 145, 132);
  /* --secondary-color: #ffed4a;
  --accent-color: #e3342f; */
}


@layer components {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl font-bold;
  }
  h4 {
    @apply text-xl;
  }
  button {
    @apply border-0 cursor-pointer px-0.5 rounded-sm;
  }

  a:hover {
    @apply underline underline-offset-2 text-blue-700;
  }
  a:visited {
    @apply text-purple-600; 
  }

  .politician-link{
    @apply text-blue-link 
  }
}
