@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgb(240, 240, 240);
  /* --secondary-color: #ffed4a;
  --accent-color: #e3342f; */
}


@layer components {
  h2 {
    @apply text-2xl font-bold;
  }
  h3 {
    @apply text-xl ;
  }

  a:hover {
    @apply underline underline-offset-2 text-blue-700;
  }
  a:visited {
    @apply text-purple-600;
  }
  button:hover{
    @apply cursor-pointer;
  }
}
